<!DOCTYPE html>
<html>
	<head>
	  <title>Don't Park There CHI</title>
	  <!-- <meta name="viewport" content="width=device-width"> -->
	  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	  <%= stylesheet_link_tag 'application', media: 'all' %>
	  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
	  <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
	  <%= javascript_include_tag 'application' %>
	  <%= csrf_meta_tags %>
	  <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
	  <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
	  <%= favicon_link_tag 'favicon.ico' %>
	</head>
	<body>
	<link href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v0.0.3/leaflet.fullscreen.css' rel='stylesheet' />
	<script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v0.0.3/Leaflet.fullscreen.min.js'></script>
	<!-- 	<div class = "container row"> -->
			
			<%= yield %>

	<!-- 	</div> -->


	</body>
</html>
